
body {
    background-color: antiquewhite;
}

.container {
    width: 50%;
    height:40px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right:auto;
    text-align: center;

}
.title{
    font-size:28px;
    color:rgb(40, 212, 255);
    font-weight:600;
  
}
.display_box {
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
}

#displays {
    padding: 50px;
    font-size: 20px;
    font-family: 'Courgette', cursive;
    color: white;
    opacity: 1.5;

}
.quotes
{      padding-top:20px;
    height:200px;
    width:400px;
    background: rgba(193, 193, 193, 0.7);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.img {
    width: 100%;
    max-width: 400px;
    height: 80%;
    max-height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('quotes.jpg');
}
input{
    width:80px;
    height:50px;
    background-color:rgb(0, 255, 213);
    border:1px solid transparent;
    border-radius:5px;
  
}